.Button {
    border: none;
    font-size: 15px;
    padding: 10px 30px;
    border-radius: 6px;
    margin: 10px;
    background: darkgray;
    font-weight: bold;
}

.Button:hover {
    background: #77B6E2;
}