.TableRow {
    display: flex;
    justify-content: center;
    column-gap: 100px;
}


.Table {
    width: 600px;
    border-collapse: collapse;
    overflow-x: scroll;
}

/*style={{ width: '250px', 
    borderCollapse: 'collapse', 
    overflowX: 'scroll' }}*/


.Checkbox {
    border: none;
    font-size: 15px;
    padding: 8px 12px;
    border-radius: 6px;
    margin: 7px;
    background: darkgray;
    font-weight: bold;
}

.CheckboxClicked {
    border: none;
    font-size: 15px;
    padding: 8px 12px;
    border-radius: 6px;
    margin: 7px;
    background: #77B6E2;
    font-weight: bold;
}

.Checkbox:hover {
    background: #77B6E2;
}

.List {
    display: flex;
    justify-content: center;
}

.CollapseTButton {
    border: none;
    font-size: 15px;
    padding: 8px 12px;
    border-radius: 6px;
    margin: 7px;
    background: darkgray;
    font-weight: bold;
    width: 600px;
}

.CollapseTButtonClicked {
    border: none;
    font-size: 15px;
    padding: 8px 12px;
    border-radius: 6px;
    margin: 7px;
    background: #77B6E2;
    font-weight: bold;
    width: 100%;
}

.CollapseTButton:hover {
    background: #77B6E2;
}

.FilterDiv {
    display: flex;
    justify-content: center;
}

.Filter {
    font-size: 20px;
    display: flex;
    height: 27px;
    width: 100%;
    transition: width 0.4s ease-in-out;
}
  
.Filter:focus {
    width: 500px;
}

/*
transition: width 0.4s ease-in-out;

  font-size: 14px;
  transition-property: font-size;
  transition-duration: 4s;
  transition-delay: 2s;
  */